
*.mdb

*.exe

*.xcuserstate

*.xcbkptlist

*.userprefs

*.o

*.plist

*.stash

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Debug/QTChatClient.app/Contents/MacOS/QTChatClient

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Debug/QTChatClient.app/Contents/PkgInfo

*.lproj

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Profile/QTChatClient.app/Contents/MacOS/QTChatClient

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Profile/QTChatClient.app/Contents/PkgInfo

*.xcuserstate

*.xcuserstate

*.xcbkptlist

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Debug/Makefile

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Debug/moc_chatclient.cpp

build-QTChatClient-Desktop_Qt_5_6_0_clang_64bit-Debug/moc_chatserver.cpp
